this application is called RFLKT, short for reflect.
A feature in this app allows users to chat with warriors from the past.
the user is allows to choose a warror to chat with. the user can select between 2-5 warriors to chat with at the same time.
